
@{
    ViewBag.Title = "CompanyHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company Home</h2>
<div id="div1">
@Html.ActionLink("Add Jobs", "jobinsert_pageload", "JobInsert")
</div>
<style>

    

    h2 {
        color: darkblue;
    }
</style>