
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Home</h2>
<div id="div1">
    @Html.ActionLink("Search Jobs", "search_pageload", "Search")
</div>
<style>

   

    h2 {
        color: darkblue;
    }
</style>

